#interaction-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#interaction-buttons Button {
    position: relative;

    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    outline: black;
}

#interaction-buttons Button:hover {
    cursor: pointer;
    background-color: #4D8F5f;
}