#interaction-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#interaction-buttons Button {
    position: relative;

    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
}

#interaction-buttons Button:hover {
    cursor: pointer;
    background-color: #4D8F5f;
}

#info-area {
    position: relative;
    color: white;
}

#turtle-name {
    position: relative;
    color: white;
}

#top-area {
    position: relative;
    display: flex;
}

.interaction-container {
    display: flex;
    flex-direction: column;

    margin-left: 3px;
    margin-right: 3px;
}

.interaction-container Button:hover {
    cursor: pointer;
    filter: brightness(80%);
    -webkit-filter: brightness(80%);
}

.interaction-container Button:active {
    filter: brightness(60%);
    -webkit-filter: brightness(60%);
}

.interaction-container Button {
    position: relative;

    border: 2px solid;
    padding: 5px 5px;
}

#dig-container Button {
    background-color: rgb(255, 0, 0);
    border-color: rgb(175, 0, 0);
}

#move-container Button {
    background-color: rgb(0, 206, 51);
    border-color: rgb(0, 133, 22);
}

#attack-container Button {
    background-color: rgb(233, 198, 0);
    border-color: rgb(163, 134, 2);
}

.btn-group {
    height: 40px;
}

.dropdown-menu{
    height:200px;
    overflow-y:auto;
}